*{
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

input, label {
  margin-top: 20px;
}

span {
  font-weight: bold;
  color: blue;
}

button {
  display: block;
  margin: 40px auto;
  padding: 10px 12px;
  background-color: rgb(34, 143, 145);
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.card {
  padding-top: 2em;
  border-radius: 12px;
  border: 1px solid #bacdd8;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

img, iframe{
  display: block;
  margin: 1.5em auto;
  max-width: 550px;
  border-radius: 12px;
}

p {
  max-width: 550px;
  line-height: 1.5;
  font-size: 1.2rem;
}
